<!DOCTYPE html>
<html>
<head>
    <title>Display Data</title>
</head>
<body>
    <h1>Data from Amazon Reviews</h1>
    <table border="1">
        <tr>
            <th>Product</th>
            <th>Customer Name</th>
            <th>Rating</th>
            <th>Comments</th>
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ record['Product'] }}</td>
            <td>{{ record['Customer_Name'] }}</td>
            <td>{{ record['Rating'] }}</td>
            <td>{{ record['Comments'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
