<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* Set background color to blue */
        body, html {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(169, 234, 149);
            margin: 0; /* Remove default margin to fill the entire viewport */
        }

        /* Style for the search box */
        .form {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <H1 style="text-align: center; color: white;">Search</H1>
        <div class="form">
            <form action="/" method="post">
                <input type="text" name="product" id="product" style="text-align: center"></input>
                <input type="submit" name="btnnum" id="btnnum" value = "Product"></input>
            </form>
        </div>
    </div>
</body>
</html>
